<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div>
        <img>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home">PageTurner</a>
      </div>
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <li><a routerLink="/new-release">New Releases..</a></li>
        <li><a routerLink="/adults">Adults</a></li>
        <li><a routerLink="/kids-books">Kids</a></li>
        <li><a routerLink="/bestsellers">Best Sellers</a></li>
       
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <!-- <li><input type="text"><a href="#"><span class="glyphicon glyphicon-search"></span> search</a></li> -->
          <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a></li>
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>